apiVersion: v1
kind: Service
metadata:
  name: microdns-coordinator
  namespace: microdns
  labels:
    app.kubernetes.io/name: microdns
    app.kubernetes.io/component: coordinator
spec:
  type: ClusterIP
  selector:
    app.kubernetes.io/name: microdns
    app.kubernetes.io/component: coordinator
  ports:
    - name: dns
      port: 53
      targetPort: 53
      protocol: UDP
    - name: dns-tcp
      port: 53
      targetPort: 53
      protocol: TCP
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
    - name: grpc
      port: 50051
      targetPort: 50051
      protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  name: microdns-coordinator-dashboard
  namespace: microdns
  labels:
    app.kubernetes.io/name: microdns
    app.kubernetes.io/component: coordinator
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: microdns
    app.kubernetes.io/component: coordinator
  ports:
    - name: http
      port: 8080
      targetPort: 8080
      protocol: TCP
      nodePort: 30080
